<!DOCTYPE html>
<html>

<head>
    <title>Email Exporter Configuration</title>
</head>

<body>
    <h2>Configure Email Exporter</h2>
    <form method="post">
        IMAP Server Address: <input type="text" name="imap_server_address"><br>
        Email Username: <input type="text" name="imap_email_username"><br>
        Email Password: <input type="password" name="imap_email_password"><br>
        IMAP Port: <input type="number" name="imap_port" value="993"><br>
        Output CSV Filename: <input type="text" name="output_csv_filename"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>